*{
    margin: 0;
    padding: 0;
}
.vermelho{
    width: 4%;
    height: 100%;
    background: red;
}
.azul{
    width: 4%;
    height: 100%;
    background: blue;
}
.verde{
    width: 4%;
    height: 100%;
    background: green;
}
.horizontal{
    width: 100%;
    height: 10%;
    display: flex;
}
