
.preta{
    background: black;
    height: 20vh;
    grid-area: preta;
    background-color: black;
}

.amarelo{
    background: yellow;
    height: 70vh;
    grid-area: amarelo;
    
}

.cinza{
    background:grey;
    height: 35vh;
    grid-area: cinza;
}

.roxo{
    background: purple;
    height: 35vh;
    grid-area: roxo;
}

.laranja{
    background: orange;
    height: 70vh;
    grid-area: laranja;
}

.rosa{
    background: pink;
    height: 10vh;
    grid-area: rosa;
}

.site{
    display: grid;
    width: 100vw;
    grid-template-columns: 10% 20% 70%;
    grid-template-areas: 
    "preta preta preta"
    "amarelo cinza laranja"
    "amarelo roxo laranja"
    "rosa rosa rosa";
}